<!DOCTYPE html>
<html>
  		<meta charset="utf-8">
		<title>Hemant Torsekar </title>
	


	<head>


        <!-- jQuery library -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

        <!-- CSS Files -->
        <link rel="stylesheet" href="css/main.css">

        <!-- FancyBox via mention from Thomas Berry -->
        <link rel="stylesheet" href="fancybox/lib/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.4"></script>


        <!-- Google API Font Book -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.
        com/css?family=Sigmar+One|Roboto+Condensed|Oswald">


		<!--SpectragramJS http://lab.adrianquevedo.com/jquery-spectragram/ -- >
		
    </head>

    <!-- Resume Content -->

    <h2> EMPLOYMENT EXPERIENCE</h3>

        <h3> <em> October 2013 - present : President/Developer/Janitor, Klassy Apps </em> Toronto, ON</h3>

        <ul>
                <li>Learned programming basics and OOP programming concepts inheritance, polymorphisms, encapsulation</li>
                <li>Provisioned devices, and several app builds using UIKit and Human User Interface Guidelines (HUIG) Apple Documentation</li>
                <li>Created a client solution entitled <a style="color:hotpink;" href="http://lit-forest-8106.herokuapp.com/" target="_blank">Six Mile Lake</a> for cottage booking: <ol>
                            <li>Utilized Bootstrap 3 along with original design</li>
                            <li>Fully responsive with great mobile consideration</li>
                            <li>REST API used to provide credit card payment to customers</li>
                        </ol>
                </li>

        </ul>

        <h3> <em> January 2013 - May 2013 : Student, Bitmaker Labs </em> Toronto, ON</h3>

        <ul>    <li>Attended Bootcamp for Ruby on Rails Development with an emphasis on Javascript and jQuery</li>
                <li>Learned Ruby on Rails, HTML5, CSS3 and Javascript (Coffeescript)</li>
                <li>Developed iPad/iPhone based touch/gesture project that allowed drawing on  </li>

        </ul>

        <h3><em> November 2012 - January 2013 : Project Management Intern, GSI Solutions Inc.</em> Toronto, ON</h3>

        <ul>
                <li> Coordinated project tasks, outlined copy, edited photographic assets for GSI Solutions website </li>
                <li> Developed black box testing strategies to validate UI and functionality </li>
                <li> Created use cases for large Wordpress implementation websites to address hit testing </li>
                <li> Developed comprehensive manuals for several client websites utilizing OmmniOutliner and OmniGraffle </li>
        </ul>


        <h3><em> June 2013 - October 2013 : Software Developer, Ryatta Group</em> Toronto, ON</h3>

        <ul>
                <li> Prototyped, and implemented mobile design for mobile booking spa software system deemed Luxury Theme</li>
                <li> Summarized customer feedback for booking funnel to ensure user acceptance and user familiarity within design</li>
                <li> Worked as a Rails fullstack developer, to collaborate with remote front-end designer to ensure a cohesive integrated solution that met criteria for usability and design philosophy</li>
        </ul>

 <h3> <em>April 2011 - June 2011 : Business Specialist, Apple Store Fairview
 </em> Toronto, ON </h3>

        <ul>
            <li>Presented businesses with solutions to integrate Apple products into enterprise environment </li>
            <li>Analyzed and presented sales, projections and leads for Store Leaders and Market Leader</li>
            <li>Managed pre-sales and coordinated with support teams to deliver seamless customer experience</li>
            
        </ul>


        <h3>  <em>October 2010 - May 2011 : Family Room Specialist, Apple Store Fairview </em> Toronto, ON</h3>

        <ul>

            <li> Provided customers with Apple software and hardware training as individual and group instructor</li> 
            </li>Researched effective solutions for technical support and performed mobile hardware repairs</li>
            <li>Transferred documents and media from devices (Blackberry, Palm, Windows) to Apple devices</li>
        </ul>




        <h3> <em> 2008 - October 2010: Part-Time Specialist, Apple Store Fairview</em>  Toronto, ON</h3>

        <ul>
        
        <li>Facilitated consumer/Business workshops as member of Theatre Team/Business Ambassador </li>
        <li>Provided mentorship and consistent feedback to improve iPhone Activations as an iPhone Expert</li>
        <li>Facilitated Personal Training sessions as Creative Support helping to grow sessions delivered</li>
        <li>Created reports along Red Zone Leader for Specialist progress</li>

        </ul>



        <h3> <em> </em></h3>

        <ul>
        </ul>


<div><a href="mailto:hvt@me.com?subject=We Look Forward to Speaking With You!&body=Hi%20Hemant, Can you come in for an interview for the following position:                    ?">hvt@me.com</a></div>
<script type="stylesheet">
a:link {color: pink;}
</script>
</body>
</html>