@media all and (min-width: 1px) and (max-width: 676px) {

  body{

  }

  .headname {
    
    margin: 0 auto;
    padding: 20% 20% 5% 5%;
    font-size: 400%;
    font-family: 'Leckerli One', cursive;
    color: #fff;
    text-shadow: 2px 2px red, 3px 2px red, 2px 2px red, 2px 3px red;
    text-align: center;
    width: 100%;
  }



  .bodycontainer{
    padding:10% 30% 10% 10%;
  }

  .boiler{
    
    /*display: inline-block;*/
    float: left;
    color: #444;
    width: 85%;
    padding: 12% 15% 8% 13%;
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    margin: -25% auto auto 142%;
    text-align: center;
    background-color: #fafafa;
  } 
    
  span {
    color: #fd7b00;

  }


/*  .background{
    margin-top:10px;
    background-color: black;
    background-size: all;
  }
*/

  .ipad{
    position: relative;
    margin: 0% 10% 30% 0%;

    width: 270px;
    height: 562px;
    background: -webkit-linear-gradient(8%, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 60%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
    border-radius: 33px;
    border: 2px solid #E2E2E2;
    box-shadow: 1px -1px 15px -3px #fafafa;
    z-index: 1;
  }

  .iphoneBezel{
    margin: 14% 10% 40% 10%;
    width: 273px;
    height: 564px;
    border-radius: 37px;
    border: 4px solid #E2C38D;
    
    
  }

  .onbutton {
    margin:-8px auto auto 204px;
    height: 1px;
    width: 34px;

    background-color: #E2C38D;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border:1px solid #d0c4a7;
    
  }

  .menubar{
    position: relative;
    font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;    
    margin-top: 2px;
    height: 10px;
    width: 240px;
    
    color: white;
    font-size: 9px;
    text-align: center;
    opacity: 1;
  }

  .signal {
    
    position: absolute;
    margin: 0px auto auto 3px;
    padding-left: 4px;
    text-align: left;
    width: 25px;
    color: white;  
    border: white;
  }

  .lock{
    position: absolute;
    margin: 40px auto auto -8px;

    width: 1px;
    height: 18px;
    background-color: #E2C38D;;

    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border: 1px solid #d0c4a7;
    z-index: -100;
  }

  .volumeup{
    
    margin: 74px auto auto -8px;
    width: 2px;
    height: 14px;
    background-color: #E2C38D;
    border: none;
  }

  .volumedown{
    position: relative;
    margin: 20px auto auto -8px;
    width: 2px;
    height: 14px;
    background-color: #E2C38D;
    border: none;
    
  }

  .sensor {
    position: absolute;
    margin: 46px auto auto 102px;
    width: 5px;
    height: 5px;
    border-radius: 4px;

    background-color:#282828;
  }

  .headset {
    
    margin: -116px auto auto auto;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color:#2F2F30;

   -moz-box-shadow:    inset 0 0 5px #E2E2E2;
   -webkit-box-shadow: inset 0 0 5px #E2E2E2;
   box-shadow:         inset 0 0 5px #E2E2E2;

    border: 2px solid #FAFAFA;
  }

  .camera {
    padding: 1px auto;
    margin: 30px auto auto auto;
    width: 8px;
    height: 8px;
    border-radius: 11px;
  /*  border: 1px solid #666;
  */  /*  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    /*background: -webkit-radial-gradient(center, ellipse cover, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
  }

  .camsensor {
    position: absolute;
    margin: 2px 1px 0px 2px;
    width: 2px;
    height: 2px;
    border: 1px solid #313131;
    border-radius:3px;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(4,5,28,1)), color-stop(50%,rgba(10,119,213,1)), color-stop(79%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(4,5,28,1) 0%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
  }

  .screen {
    margin: 20px auto auto 12px;    
    width: 240px; 
    height: 425px;
    background-size:100%;
    background-image:url(tinge.jpg);  
    

    border: 3px solid #272727;
    border-radius: 3px;
    

  }

  a:link {
    text-decoration: none;
    color:#fff;
  }
  a:visited {
    color:#fff;
  }
  .page{
    background-color:transparent; 
    margin: 0px 0px 0px 7px;
    width: 240px; 
    height: 425px;
    

  }
  .apps{
    float: left;
    background-color: transparent;
    margin:8px 2px 4px 2px;
    
    width: 52px;
    height: 52px;
    z-index: 1;
    
  }

  .tiles{
    background-color: white;
    background-image:fixed;
    margin: 0 auto;
    display:block;
    width: 44px;
    height: 44px;
    border-radius:10px;
    box-shadow: 0px 1px 0px 0px #272727

  }

  .tilemousedown {
    box-shadow: inset 0px 0px 50px #949199;
    opacity: 0.9;
    
  }

  .apps .tiles img{
    width: 44px;
    height:44px;
    border-radius:10px;

  }

  .instagram {
    background-color: #3f729b;
    font-size:16px;
  }
  .twitter {
    background-color: #55acee;
  }

  .github {
    background-color: #4183c4;
  }

  .youtube {
    padding-left: 5px;
    background-color: #e52d27;
  }

  .linkedin {
    background-color: #0E76A8;
    z-index: 1;
  }
  .resume {
    background-color: #EE555E;
  }



  .apps .names{
    margin: 2px auto;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 9px;
    font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;    

  }

  .dayOfWeek {
    font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, sans-serif;
    padding-top: 4px;
    width: 44px;
    color: #E38A8C;
    font-size:7px;
    text-align: center;
    text-decoration: none;
  }
  .calendarDate {
    font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, sans-serif;
    color: #000;
    height: 23px;
    width: 44px;
    margin-top:-6px;
    margin-right:5px;
    text-align: center;
    font-size: 32px;
    letter-spacing: -1px;
  }



  /*additional margin for iPhone responsiveness */
  

  .homesquare{
    display: none;
    margin: 9px 0 auto 10px;

    width:7px;
    height:7px;
    border-radius:3px;
    border: 2px solid #d8d8d8;
  }
   
  .homebutton{
    position: absolute;
    background-image: -webkit-radial-gradient(100% 0%, #FFF, #f9f9f9);
    margin: 5px auto auto 96px;
    width:35px;
    height:35px;
    border-radius:20px;
    border: 3px solid #E2C38D;
  }
  .buttondown {

    box-shadow: inset 0px 0px 16px #F4F4F4;
    border: 3px solid #DBBD88;


  }

  .email {
    background-color: #47ace9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(65, 108, 228)), to(rgb(77, 237, 239)));
    background-image: -webkit-linear-gradient(top, rgb(65, 108, 228), rgb(77, 237, 239));
    width: 48px;
  }

  .dockshelf{

    

  }

  .dockfront{
    position: absolute;
    margin: 339px auto auto -7px;
    height: 73px;
    width: 240px;
    background-color: rgba(226, 210, 226, 1);
    -webkit-filter:blur(10px);
    filter:url(#blur-effect);
    opacity: 0.50;
    
    z-index: 2;
    border-top: 1px solid rgba(226, 210, 226, 1);
    
  }
  .dockapps {
    margin:96px 2px 4px 4px;
    position: relative;
    z-index: 10;
  }

  .pageshow {
    position: relative;
    background-color: #FAFAFA;
    opacity: 1;
    width: 240px; 
    height: 425px;
    margin: -12px 0px 12px 0px;


    /*-webkit-transition: all 1.0s linear;
    -moz-transition: all 1.0s linear;
    -o-transition: all 1.0s linear;
    -ms-transition: all 1.0s linear;    
    transition: all 1.0s linear;*/


  }


}