@media all and (min-width: 677px) and (max-width: 1440px) {

	body{
	}

	.background{
		width: 100%;

	}

	.ipadcontainer{
		padding-top: 2%;
		margin: 2% 10% 10% 5%;
	}
	.bodycontainer{
	  padding:2% 30% 10% 15%;
	  float: left;
	  border: 1px solid #fafafa;
	}

	.headname	{
		margin:-600px auto 20% 53%;
		padding: -10% 40% 30% 10%;
		width: 60%;
		font-size: 320%;
		font-family: 'Leckerli One', cursive;
		color: #fafafa;
		text-shadow: 2px 2px red, 3px 2px red, 2px 2px red, 2px 3px red;
		text-align: center;
	}

	.boiler{
		float: left;
		color: #444;
		width: 23%;
		
		font-size: 145%;
		font-family: 'Signika Negative', sans-serif;
		padding: 2% 2% 2% 2%;
		margin: -18% auto auto 70%;
		text-align: center;
		background-color: #fafafa;
		border-radius: 4px;
	}	
		
	span {	
		color: #fd7b00
	}

	.signal {
		display: none;

	}
	.background{
		/*margin-top:10px;*/
		background: -webkit-gradient(diadonal, center center, 0px, center center, 100%, color-stop(0%,rgba(254,255,255,1)), color-stop(50%,rgba(221,241,249,1)), color-stop(100%,rgba(180,220,234,1))); /* Chrome,Safari4+ */

	}

	.ipad{

		margin: 1% 40% auto 5%;
		
		height: 790px;
		width: 520px;

		background: -webkit-linear-gradient(8deg, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 60%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 50%, #ffffff 100%);

		border-radius: 25px;
		border: 3px solid #a5a5a5;
		box-shadow: 1px -1px 15px -3px #000;
	}

	.onbutton {
		margin:-7px auto auto 455px;
		height: 0px;
		width: 32px;
		background-color: #D1D1D1;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border:1px solid #D1D1D1;
		
	}

	.menubar{
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
		position: absolute;
		margin: 0px auto;
		height: 10px;
		width: 460px;
		color: white;
    font-size: 10px;
    text-align: center;
    opacity: 1;
	}

	.lock{
		position: absolute;
		margin: auto auto auto 521px;
		width: 1px;
		height: 14px;
		background-color: #D1D1D1;
		border-top-right-radius:3px;
		border-bottom-right-radius:3px;
		border: 1px solid #D1D1D1;
	}

	.volumeup{
		position: absolute;
		margin: 39px auto auto 521px;
		width: 2px;
		height: 0px;
		background-color: transparent;
		border-top: 42px solid #D1D1D1;
		border-radius-right: 3px solid transparent;

	}

	.volumedown{	
		position: absolute;
		margin: 84px auto auto 521px;
		width: 2px;
		height: 0px;
		background-color: transparent;
		border-bottom: 42px solid #D1D1D1;
		border-radius-right: 3px solid transparent;
		/*	border-radius: 2px; */
	}


	.sensor {
		margin: 24px auto auto auto;
		width: 4px;
		height: 4px;
		border-radius: 5px;
		background-color:#e3e3e3;
	}
	.headset {

		display: none;
	}

	.camera {
		position: relative;
		margin: 16px auto auto auto;
		width: 8px;
		height: 8px;
		border-radius: 11px;
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
	}

	.camsensor {
		position: absolute;
		margin: 2px 1px 0px 2px;
		width: 2px;
		height: 2px;
		border: 1px solid #313131;
		border-radius:3px;
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(4,5,28,1)), color-stop(50%,rgba(10,119,213,1)), color-stop(79%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover, rgba(4,5,28,1) 0%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */

	}

	.screen {
		margin: 21px auto auto 27px;
		width: 460px;	
		height: 650px;
		background:center;
		background-image:url(tinge.jpg);
		background-size: 100%;
		border: 3px solid #272727;
		border-radius: 4px;


	}

	.page, .pageshow {
		position:relative;
		background-color:transparent;	
		margin: 15px 0px 0px auto;
		width: 460px;	
		height: 650px;
	}

	.opacity-0 {
		opacity:0;
	}
	.opacity-1 {
		opacity:1;
	}
	.apps{
		
		float: left;
		background-color: transparent;
		margin:14px 20px 20px 20px;
		width: 72px;
		height: 80px;
		position: relative;
		
	}

	.apps .tiles{
		background-color: white;
		background-image:fixed;
		margin: 0 auto;
		display:block;
		width: 57px;
		height: 57px;
		border-radius:12px;
		box-shadow: 0px 1px 0px 0px #272727;

	}

	.apps .tiles {
		width: 57px;
		height:57px;
		border-radius:12px;
		background-size: 57px 57px;

	}

	.app-circles {
		font-size:1.8em;
		color: #fff;
		position: absolute;
		padding: 7px 0px 0px 7px;		
		margin:5px 0px 0px 5px;
		width: 40px;
		height: 40px;
		border-radius: 40px;
	}

	.instagram {
		background-color: #3f729b;
	}
	.twitter {
		background-color: #55acee;
	}

	.github {
		background-color: #4183c4;
	}

	.youtube {
		padding-left: 5px;
		background-color: #e52d27;
	}

	.linkedin {
		background-color: #0E76A8;
		z-index: 1;
	}
	.resume {
		background-color: #EE555E;
	}


	.email {
		background-color: #47ace9;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(65, 108, 228)), to(rgb(77, 237, 239)));
		background-image: -webkit-linear-gradient(top, rgb(65, 108, 228), rgb(77, 237, 239));
		width: 48px;
	}

	.apps .names{
		margin: 2px auto;
		background-color: transparent;
		color: white;
		text-align: center;
		text-shadow: black 0.1em 0.1em 0.2em;
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
		font-size: 12px;
	}

	a:link {
		text-decoration: none;
	}

	.dayOfWeek {
		font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, sans-serif;
		padding-top: 6px;
		width: 57px;
		color: #E38A8C;
		font-size:9px;
		text-align: center;
		text-decoration: none;
	}
	.calendarDate {
		font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, sans-serif;
		color: #000;
		height: 23px;
		width: 57px;
		margin-top:-6px;
		margin-right:5px;
		text-align: center;
		font-size: 40px;
		letter-spacing: -1px;
	}

	.homesquare{
		padding: 4px auto;
		margin: 11px auto auto 11px;

		width:10px;
		height:10px;
		border-radius:3px;
		border: 2px solid #d8d8d8;
	}

	.homebutton{
		position: absolute;

		margin: 5px auto auto 214px;

		background-image: -webkit-radial-gradient(100% 0%, rgb(255, 255, 255), rgb(226, 226, 226));
		width:35px;
		height:35px;
		border-radius:17px;
	}

	.buttondown {

    box-shadow: inset 0px 0px 16px #E2E2E2;
    background-image: -webkit-radial-gradient(100% 0%, rgb(255, 255, 255), rgb(226, 226, 226));

  }

	.dockapps{
		margin-top: 104px;
		z-index: 10;

	}

	.dockfront{
    position: absolute;
    margin: 548px auto auto 0px;
    height: 92px;
    width: 462px;
    background-color: rgba(226, 210, 226, 1);
    -webkit-filter:blur(1px);
		filter:url(#blur-effect);
    opacity: 0.50;
    border-top: rgba(226, 210, 226) ;
    color: #000;
    z-index: 2;
    
  }

}