<div class="ipadcontainer">
    <div class="iPhoneBezel">
      <div class="ipad">
        <div class="onbutton"></div>
        <div class="sensor"></div>
        <div class="camera"><div class="camsensor"></div></div>
        <div class="lock"></div>
        <div class ="volumeup"></div>
        <div class="volumedown"></div>
        <div class="headset"></div>
        <div class="screen">
        <div class="menubar"> <%= Time.now.to_formatted_s(:time) %> </div>
        <div class="page">
            <div class="apps">              
            <a class="tiles" href="resume/resume.html"><img src="resources/resume2.png"></a>
            <div class="names">Resume</div>
            </div>

            <div class="apps">
            <a class="tiles" href="http://instagram.com/hvt"><img src="resources/instagram.png"></a>
            <div class="names">Instagram</div>
            </div>

            <div class="apps">
            <a class="tiles" href="http://www.twitter.com/hvt"><img src="resources/twitter.png"></a>
            <div class="names">Twitter</div>
            </div>
            <div class="apps">
            <a class="tiles" href="http://www.github.com/hvtor"><img src="resources/github.png"></a>
            <div class="names">Github</div>
            </div>

            <div class="apps">
            <a class="tiles" href="http://www.linkedin.com/in/hvtorsekar/"><img src="resources/linkedin.png"></a>
            <div class="names">LinkedIn</div>
            </div>
            <!-- Apps class is a place holder for content of future apps. Utilize above template to add more apps. -->
            <div class="apps">
            </div>

            <div class="apps">
            </div>

            <div class="apps">
            </div>

            <div class="apps">
            </div>

            <div class="apps">
            </div>

            <div class="apps">
            </div>

            <div class="apps">
            </div>

            <div class="apps">  
            </div>
            <div class="apps">
            </div>

            <div class="apps">
            </div>

            <div class="apps">
            </div>

  <!-- Apps on dock start here after placeholder apps above. -->
            <div class="dockapps apps">
              <a class="tiles" href="http://www.youtube.com/watch?v=llTSWLVv1tI"><img src="resources/youtube.jpg"></a>
              <div class="names">YouTube</div>
            </div>
            <div class="dockapps apps">
              <a class="tiles" href="mailto:hvtorsekar@gmail.com?subject=Hemant!%20We%20Should%20Talk!"><img src="resources/mail.png"></a>
              <div class="names">Email Me</div>
            </div>
            <div class="dockapps apps">
              <a class="tiles" href="http://ikatha.tumblr.com"><img src="resources/hvt_nepal.png"></a>
              <div class="names">iKatha</div>
            </div>
          <div class="dockfront">
          </div>

          <div class="homebutton">
                <div class="homesquare"></div>
          </div>

          <div class="dockshelf">
          </div>
        </div>
      </div>
      </div>
    </div>
</div>