<div class="page">
            <div class="apps">              
            <div class="tiles">
                <div class="dayOfWeek"> <% t = Time.now %> <%= t.strftime("%A") %></div>
                <div class="calendarDate"> <%= t.strftime("%-d") %> </div>
            </div>
            <div class="names">Calendar</div>
            </div>

            <div class="apps">
            <a href="http://instagram.com/hvt">
                <div class="tiles">
                    <div class="app-circles instagram">
                        <i class="fa fa-instagram icon"></i>
                    </div>
                </div>
                <div class="names">Instagram</div>
            </a>
            </div>

            <div class="apps">
            <a href="http://www.twitter.com/hvt">
                <div class="tiles">
                    <div class="app-circles twitter">
                        <i class="fa fa-twitter icon"></i>
                    </div>
                </div>
                <div class="names">Twitter</div>
            </a>
            </div>
            
            <div class="apps">
            <a href="http://www.github.com/hvtor" target="_blank">
                    <div class="tiles">
                        <div class="app-circles github">
                            <i class="fa fa-github icon"></i>
                        </div>
                    </div>
                <div class="names">Github</div>
            </a>
            </div>

            <div class="apps">
                <a href="http://www.linkedin.com/in/hvtorsekar/" target="_blank">
                    <div class="tiles">
                        <div class="app-circles linkedin">
                            <i class="fa-linkedin icon"></i>
                        </div>
                    </div>
                    <div class="names">Linkedin</div>
                </a>
            </div>

            <div class="apps">
            <a href="static_pages/index.html">
                <div class="tiles">
                    <div class="app-circles resume">
                        <i class="file outline icon"></i>
                    </div>
                </div>
                <div class="names">Resume</div>
            </a>
            </div>

            <!-- Apps class is a place holder for content of future apps. Utilize above template to add more apps. -->


            <div class="apps">
            </div>
            <div class="apps">
            </div>

            <div class="apps">
            </div>

            <div class="apps">
            </div>

            <div class="apps">
            </div>

            <div class="apps">
            </div>

            <div class="apps">  
            </div>
            <div class="apps">
            </div>

            <div class="apps">
            </div>

            <div class="apps">
            </div>

  <!-- Apps on dock start here after placeholder apps above. -->         
            <div class="dockfront"> </div>
                <div class="dockapps apps">
                  <a href="http://www.youtube.com/watch?v=llTSWLVv1tI" target="_blank">
                        <div class="tiles">
                        <div class="app-circles youtube">
                            <i class="fa fa-youtube icon"></i>
                        </div>
                      </div>
                      <div class="names">YouTube</div>
                  </a>
                </div>
                
                
</div>